/*Phthalo Green background-color: #123524;*/
/*Quinacridone rose light background-color: #e6456f;*/
/*Quinacridone rose dark background-color: #c32474;*/
/*Magic Mint color: #BEE9D4;*/

body {
    /* margin: 0 50px 0 50px; */
    background-color: #123524;
    /* background-image: url(resources/forrestlab\ 5.webp); */
    /* backdrop-filter: blur(3px);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% 10%; */
}

nav {
    border: solid 1px black;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #BEE9D4;;
}

nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
nav li {
    padding: 20px;
}

#logo {
    height: 50px;
    width: 50px;
}

header {
    background-image:url(resources/XB\ Logo\ NobcgFInal.webp);
}

.me {
    background-image:url(resources/XB\ Logo\ NobcgFInal.webp);
    background-repeat: repeat;
    background-size: 30%;
    background-position: 10%;
}

header {
    padding: 10px;
    margin-left: auto;
    text-align: center;
    color: #BEE9D4;;
}

header img {
    aspect-ratio: 1/0.8;
    width: 30%;
    padding: 10px;
    margin-right: 70%;
}
.intro p {
    color: #BEE9D4;;
}

.intro button {
    background-color: #e6456f;
    border-radius: 50px;
    width: 5vw;
}

.intro h2 {
    color: #e6456f;
}

.me {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.me img{
    height: auto;
    width: 25%;
}

#green {
    background-color: green;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
button {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px;
}

#xxx {
    color: aqua;
}

.aboutP {
    display: none;
}

footer {
    border: solid black 5px;
    border-radius: 20px;
    width: 30vw;
    margin: auto;
    background-color: #e6456f;
    padding: 10px;
    text-align: center;
    color: #BEE9D4;
}

footer ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    padding: 0;
}
