/*Phthalo Green background-color: #123524;*/
/*Quinacridone rose light background-color: #e6456f;*/
/*Quinacridone rose dark background-color: #c32474;*/
/*Magic Mint color: #BEE9D4;*/

body {
    margin: 0 50px 0 50px;
    background-color: #123524;
}

nav {
    border: solid 1px black;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #BEE9D4;;
}

nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
nav li {
    padding: 20px;
}

header {
    padding: 10px;
    margin-left: auto;
    text-align: center;
    color: #BEE9D4;;
}

header img {
    aspect-ratio: 1/0.8;
    width: 30%;
    padding: 10px;
    margin-right: 70%;
}
.intro p {
    color: #BEE9D4;;
}

.intro h2 {
    color: #e6456f;
}

footer {
    padding: 10px;
    margin-left: auto;
    text-align: center;
    color: #BEE9D4;
}

footer ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin-left: auto;
    width: 50%;
}


.me {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.me img{
    height: auto;
    width: 25%;
}
